# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*copy.ipynb

# Secrets and environment files
.env
.env.local
*.env
!.env.example
*.key
credentials.json

# Logs and temporary files
*.log
*.tmp
*.bak

# Database files
# *.db

# Models directory (if generated during execution)
AutogluonModels/

# Ignore specific data folders if they are generated or shouldn't be tracked
dataspace/
recordspace/
knowledgespace/
recordspace/*.json
catboost_info/


# Ignore legacy files
SLEGO_Legacy.ipynb

# IDE specific files (e.g. VSCode)
.vscode/

exp.ipynb
exp2.ipynb
.DS_Store



recsys.ipynb

temp/

config.py